<% content_for :title, 'Générer une attestation de déplacement' %>
<% content_for :description, 'Générez gratuitement votre Attestation de déplacement dérogatoire ou votre Justificatif de déplacement professionnel en PDF' %>

<h1 class="text-center text-md-left">Je souhaite générer</h1>

<div class="row mt-3">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body text-center">
        <a href="/attestation-deplacement">
          <img class="mb-2" src="/assets/user.svg" height="100"><br />
          Attestation de déplacement dérogatoire
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body text-center">
        <a href="/justificatif-deplacement-pro">
          <img class="mb-2" src="/assets/company.svg" height="100"><br />
          Justificatif de déplacement professionnel
        </a>
      </div>
    </div>
  </div>
</div>
